@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ui-view></div>
<!-- We'll also add some navigation: -->
<a ui-sref="jobs">Jobs</a>
<a ui-sref="stores">Stores</a>


